## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

1. Up Sampling

In [34]:
import pandas as pd
import numpy as np

np.random.seed(123)

n_sample = 1000
class_0_ratio = 0.9
class_0 = int(n_sample * class_0_ratio)
class_1 = n_sample - class_0

In [35]:
class_0,class_1

(900, 100)

In [36]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
df_class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=class_0),
    'target': [0] * class_0
})

df_class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=class_1),
    'target': [1] * class_1
})

✔ feature_1

Es werden Zufallszahlen erzeugt
Die Werte stammen aus einer Normalverteilung (Gauß-Verteilung)
loc=0 → Mittelwert = 0
scale=1 → Standardabweichung = 1
size=n_class_0 → Anzahl der erzeugten Werte entspricht der Anzahl der Klasse-0-Samples

✔ feature_2

Gleiche Logik wie bei feature_1
Ebenfalls Normalverteilung mit Mittelwert 0 und Standardabweichung 1

✔ target

Dies ist die Zielspalte für maschinelles Lernen
[0] * n_class_0 erzeugt eine Liste voller Nullen
Beispiel: wenn n_class_0 = 100, dann wird daraus
[0, 0, 0, ..., 0] (100 mal)

Das bedeutet: alle Zeilen in diesem Dataset gehören zur Klasse 0.

In [37]:
df = pd.concat([df_class_0, df_class_1]).reset_index(drop=True)

In [38]:
df.tail(5)

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [39]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [41]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [43]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [44]:
df_minority_upsampled.shape

(900, 3)

In [45]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [46]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [47]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

2. Dawn Sampliing

In [48]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [51]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [66]:
from sklearn.utils import resample

df_majority_downsampled=resample(df_majority,replace=True, #Sample With replacement
         n_samples=len(df_minority),
         random_state=42
        )

In [67]:
print(df_majority_downsampled)

     feature_1  feature_2  target
102   0.712265   0.718151       0
435   1.199988   0.574621       0
860   0.304515  -0.759475       0
270  -1.213385   0.675504       0
106   0.179549  -0.202659       0
..         ...        ...     ...
201  -0.598105   1.575650       0
269   0.420180   0.570631       0
862  -0.392309   0.446491       0
815  -0.148405  -0.457929       0
270  -1.213385   0.675504       0

[100 rows x 3 columns]

In [69]:
df_downsempled = pd.concat([df_minority,df_majority_downsampled])
print(df_downsempled.shape)

(200, 3)

In [73]:
# print(df_downsempled.value_counts)
df_downsempled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64